header{
    font-size: 100px;
    color:  rgb(81, 2, 155);
    font-style: italic, bold;
    font-family: 'Dosis', sans-serif;;
}
h1{
    font-size: 40px;
    color: rgb(81, 2, 155);
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
} 

h2{
    font-size: 40px;
    color:  rgb(81, 2, 155);
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
h3{
    font-size: 40px;
    color: rgb(81, 2, 155);
    font-style: italic;
    font-family: 'Dosis', sans-serif;;
}
p{
    font-size: 20px;
    color:rgb(133, 133, 133);
    font-family: 'Dosis', sans-serif;
    line-height:  27px;
}
body{
    background-color: rgb(221, 236, 236);
    margin: 0;
}

.button-link {
    border-style: solid;
    border-color: rgb(255, 0, 76);;
    background-color: rgb(189, 216, 219);
    border-width: 1px;
    text-decoration: none;
    color: black;   
    border-radius: 8px;
    display: block;
    width: 200px;
    text-align: center;
    margin-top: 20px;
}
.button-alert {
    border-style: double;
    border-color: rgb(255, 0, 76);
    background-color:  rgb(189, 216, 219);
    border-width: 10px;
    text-decoration: none;
    color: black;   
    border-radius: 7px;
    display: block;
    width: 203px;
    text-align: center;
    margin-top: 20px;
}
.button-alarm {
    border-style: dotted;
    border-color: rgb(255, 0, 76);;
    background-color:  rgb(189, 216, 219);
    border-width: 10px;
    text-decoration: none;
    color: black;   
    border-radius: 8px;
    display: block;
    width: 203px;
    text-align: center;
    margin-top: 20px;
}

.top-banner{
    height: 150px;
    text-align: center;
    background-color: rgb(200, 171, 228);
    background-image: url("https://th.bing.com/th/id/R.95c61cacf3d7d77a948d64f1345a24cc?rik=VTVdhzDg%2b7V5qw&riu=http%3a%2f%2fwallpapercave.com%2fwp%2fRMdbmli.jpg&ehk=p103BSAhaB54jfLWjfu66x1S%2b7QEMljRGBwlsG62t6A%3d&risl=&pid=ImgRaw&r=0");
    margin: 0 auto;
    display: block;
    margin-top: 10px;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;

}

.main-content{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer{
    height: 100px;
    text-align: center;
    padding: 10px 0;
    margin: 0 auto;
}
nav {
    padding: 20px;

}
.nav-links {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 200px;
}
.nav-links li a{
padding-left:0;
padding-right: 0;
}
.nav-links li {
    display: inline;
}
